# Virtual Environments
.venv/
venv/
env/
venv_py312/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor specific
.vscode/
# Add other editor/IDE specific folders if needed
temp_test_output/